.Dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;

  .DialogsItems{
    padding: 10px;

    .DialogItem{
      color: black;
    }

    .active{
      color: gold;
    }

  }

  .MessagesItems{
    padding: 10px;
    .MessageItem{
      color: black;
    }

  }
}