.Friends__title{
  text-align: center;
  font-size: 25px;
  //font-weight: bold;
}
.Friends__list{
  display: flex;
  flex-wrap: wrap;
  margin: 0px -3px;

  .Friends__item{
    margin: 0px 3px;
  }

  .Friends__avatar{
    img {
      $sizeAva: 40px;
      height: $sizeAva;
      width: $sizeAva;
      border-radius: 50%;
    }
  }

  .Friends__name{
    text-align: center;
  }
}